/* Body Styles */

body {
  font-family: Verdana;
  background-color: #ffffff;
  margin: 0px;
}

/* Header Styles  */

header {
  display: flex;
  justify-content: space-between;
  background-color: #218380;
  color: #ffffff;
  padding: 3vh;
}

/* specify min-width for time element to give enough space for the span inside it to contain 3 digits without visibly moving the "time" text */

time {
  min-width: 85px;
}

/* Main Styles */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button Styles */

.button {
  display: block;
  color: #ffffff;
  background-color: #218380;
  padding: 2vh;
  border-radius: 8px;
  border: none;
}

.inline-buttons {
  display: inline-flex;
}

/* Card Styles */

.card {
  max-width: 80%;
  margin-top: 15vh;
  border: solid;
  border-width: 2px;
  padding: 5vw;
  border-radius: 30px;
  border-color: lightgray;
  box-shadow: 10px 5px 5px lightgray;
}

/* Start Card Styles */

#start-screen {
  display: inline;
  text-align: center;
}

/* Question Card Styles */

.option-button {
  width: 100%;
  text-align: left;
  margin: 5px;
}

#result-div {
  display: none;
}

/* Score Card Styles */

.inline-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#initials {
  width: 25%;
  margin: 8px;
  padding: 1vh;
}

/* Leaderboard Card Styles */

#back-button {
  margin-right: 8px;
}

.highscore-list {
  padding-inline-start: 20px;
}

/* Media Queries */

@media screen and (min-width: 850px) {
  .card {
    max-width: 680px;
  }
}

/* Media query that specifies devices that can utilize hover */
@media (hover) {
  /* Stylings pertaining to hover pseudo-class*/
  a:hover {
    color: #cbe1e0;
  }

  button:hover {
    background-color: rgba(33, 131, 127, 0.5);
  }
}
